@{
    ViewData["Title"] = "Login";
}
@model ToDoList.Entities.User
<div class="nav-bar">
    <div class="nav-logo">
        <a asp-action="Index"><img src="~/img/logo.png"/></a>
    </div>
    <div class="nav-link">
        <span>UserName: @Model.Name </span>
        <span>Email:  @Model.Email</span>
    </div>

</div>


