* {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    font-family: 'Fredoka', cursive;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

input, textarea {
    font-family: 'Fredoka', cursive;
}


/*
    Header
*/

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0C2239;
    padding: 5px;
}

.nav-logo img {
    width: 200px;
}

.nav-link .login, .register {
    text-decoration: none;
    color: white;
}

.nav-link .register {
    background: blue;
    border-radius: 5px;
    padding: 12px 20px;
    margin-left: 20px;
}

/*
    End
*/



/* 
    specific formatting 
*/

.info {
    color: white;
}

.form h1 {
    color: blue;
    margin-bottom: 30px;
    cursor: default;
}

.form .underline {
    text-decoration: underline;
    color: blue;
}

.form hr {
    border: none;
    border-top: 1px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form .email {
    width: 51px;
    margin-right: 10px;
}

.form .password {
    width: 76px;
}

/* 
    End 
*/

/* 
    Form Log in 
*/

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

    .form input {
        color: #757575
    }

.form-input, .form-submit {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    padding: 11px 16px;
    border-color: rgb(127, 133, 141);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    -webkit-text-fill-color: #757575;
}

.form-label {
    position: relative;
    left: 20px;
    bottom: 35px;
    cursor: text;
    transition: bottom 200ms ease-in;
    text-align: center;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    bottom: 55px;
    background: #FFFFFF;
}

.form-submit {
    background: #FFFFFF;
    border-color: blue;
    color: blue !important;
    font-weight: bold;
    cursor: pointer;
}

    .form-submit:hover {
        opacity: 0.5;
    }

.form-forgot--password, .form-action {
    color: black;
}

.form-action {
    text-align: center;
    text-decoration: none;
}

/*
    End
*/

/*
    Card 
*/

.form-task.space {
    margin-top: 20px;
}

.form-task {
    margin: 0px auto;
    width: 50%;
    margin-top: 10px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.form-task .title, .title::placeholder {
    color: black;
}

.form-task textarea {
    resize: none
}

.form-task .description {
    margin-top: 20px;
    color: #757575;
}

.form-task .utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-task .cancel, .form-task .add {
    color: #d2d2d2;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.form-task .add {
    border: none;
    background: #00ff00;
    padding: 5px 20px;
    color: white;
    cursor: pointer;
    opacity: 1;
}

.form-task .add:disabled {
    opacity: 0.4;
    cursor: default;
}

.form-task input, textarea {
    border: 0 none;
    outline: 0;
    font-size: 1em;
}

.form-task input[type="date"] {
    background: #6c6cff;
    padding: 4px;
    border-radius: 5px;
    color: white;
}

.form-task ::-webkit-calendar-picker-indicator {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.form-task .btn {
    border: none;
    cursor: pointer;
}

.form-task .date {
    padding-top: 20px;
}

.form-task .title.task {
    margin-left: 25px;
}

.form-task .separet {
    display: grid;
    grid-template-columns: auto 1fr 2fr;
    align-items: center;
}


/*
    End
*/

/*
    Icons
*/

.fa-arrow-right-from-bracket {
    color: red;
}

.fa-user, .fa-envelope {
    padding-right: 2em;
    color: white;
}

.fa-circle, .fa-circle-check {
    color: green;
    position: absolute;
    margin-top: -1px;
    z-index: 10;
}

.fa-circle-check {
    color: white;
    z-index: 1;
}

.fa-circle:hover + .fa-circle-check {
    color: green;
}

/*
    End
*/

.filter {
}
