*{
    padding:0;
    margin:0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: white;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}


/*
    Header
*/

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0C2239;
    padding: 5px;
}

.nav-logo img {
    width: 200px;
}

.nav-link .login, .register {
    text-decoration: none;
    color: white;
}

.nav-link .register{
    background: blue;
    border-radius: 5px;
    padding: 12px 20px;
    margin-left: 20px;
}

/*
    End
*/



/* 
    specific formatting 
*/

.info{
    color: white;
}

.form h1 {
    color: blue;
    margin-bottom: 30px;
    cursor: default;
}

.form .underline {
    text-decoration: underline;
    color: blue;
}

.form hr {
    border: none;
    border-top: 1px solid black;
    margin-top: 40px;
    margin-bottom: 20px;
}

.form .email {
    width: 51px;
}

.form .password {
    width: 76px;
}

/* 
    End 
*/

/* 
    Form Log in 
*/

.form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.form-input, .form-submit {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 17px;
    padding: 11px 16px;
    border-color: rgb(127, 133, 141);
}

.form-label {
    position: relative;
    left: 20px;
    bottom: 35px;
    cursor: text;
    transition: bottom 200ms ease-in;
    text-align: center;
}

.form-input:focus + .form-label, .form-input:not(:placeholder-shown).form-input:not(:focus) + .form-label {
    bottom: 55px;
    background: #FFFFFF;
}

.form-submit {
    background: #FFFFFF;
    border-color: blue;
    color: blue;
    font-weight: bold;
    cursor: pointer;
}

.form-submit:hover {
    opacity: 0.5;
}

.form-forgot--password, .form-action {
    color: black;
}

.form-action {
    text-align: center;
    text-decoration: none;
}

/*
    End
*/

/*
    Card 
*/
.task-body{
    margin: 0 auto;
    width: 600px;
}

.form-task {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 8px;
    border-color: #d2d2d2;
}

.task{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.form-task input, input:focus, textarea,textarea:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    font-family: 'Trebuchet MS';
    font-size: 1em;
}

.form-task textarea{
    margin-top: 20px;
}



/*
    End
*/
